body{
    background-color:light-dark( lightblue, pink );
    color: black;
}

footer{
    background-color:( darkcyan,pink);
    color: black;
}

.center { 
 width: 960px;
 margin-left: auto;
 margin-right: auto;
}